.container {
  margin-bottom: 5px;
}

.profile-image {
  width: 125px;
}

.user-info {
  margin-left: 10px;
}

.tweet-realname, .tweet-username, .tweet-retweet, .tweet-favorite {
  margin-right: 5px;
}

.num-followers, .num-following {
  margin-right: 5px;
}

.header-image {

}
